---
import { Image } from "astro:assets";
import AETImage from "../assets/AET.png";
import AvatarImage from "../assets/avatar.png";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class="bg-gradient-to-b from-gray-900 to-gray-700 bg-no-repeat text-gray-400">
        <!-- <Header /> -->
        <div class="flex flex-col content-center items-center">
            <h1 class="text-2xl">🧑‍🚀 Hello, Astronaut!</h1>
            <Image
                src={AvatarImage}
                alt="Avatar Image"
                class="h-64 w-64 rounded-full"
            />
            <h2 class="text-xl">My name is Sky!</h2>
            <p class="text-xl">
                I'm a trans girl working on several projects and teams in my
                free time. You may have met me from the two teams that I'm part
                of:
            </p>
            <!-- TODO: Add AET logo next to the link -->
            <div class="flex flex-row content-evenly items-center">
                <Image
                    src={AETImage}
                    alt="AET Logo"
                    class="mr-2 h-16 w-16 rounded-full"
                />
                <h2 class="text-2xl">
                    <a href="https://discord.gg/TYDwCRKnKX" target="_blank">
                        Antistasi Event Team
                    </a>
                </h2>
            </div>
            <!-- TODO: Add ttb logo next to the link -->
            <div class="flex flex-row content-evenly items-center">
                <Image
                    src={AETImage}
                    alt="AET Logo"
                    class="mr-2 h-16 w-16 rounded-full"
                />
                <h2>
                    <a href="https://discord.gg/YYtpYBr" target="_blank">
                        to the beat!
                    </a>
                </h2>
            </div>
        </div>
        <!-- <Footer /> -->
    </body>
</html>
